@using library_management_system.Model
@using library_management_system.Services

@inject DbApi DbApi

<Modal @ref="_modal" Size="ModalSize.ExtraLarge">
    <BodyTemplate>
        <div class="modal-body">
            <div class="book-record">
                <div class="book-image-placeholder">
                    
                    <img class="book-image" src="data:image/jpg;base64, @Convert.ToBase64String(BookCover?.Image)" alt="@Book?.Title"/>
                    
                    @if (_editMode)
                    {
                        <InputFile style="max-width: 25rem" OnChange="LoadFile" class="form-control" accept=".jpg, .jpeg, .png"/>
                    }
                
                </div>
                
                <div class="description-and-actions">
                    <div class="actions">
                        <div class="action">
                            @if (IsFav)
                            {
                                <Tooltip Title="Remove from favorites" Placement="TooltipPlacement.Top">
                                    <Icon Name="IconName.HeartFill" Color="IconColor.Danger" @onclick="HeartClicked"></Icon>
                                </Tooltip>
                            }
                            else
                            {
                                <Tooltip Title="Add to favorites" Placement="TooltipPlacement.Top">
                                    <Icon Name="IconName.Heart" @onclick="HeartClicked"></Icon>
                                </Tooltip>
                            }
                        </div>

                        <div class="action">
                            <Tooltip Title="Reserve" Placement="TooltipPlacement.Top">
                                <Icon Name="IconName.Cart" @onclick="ReserveBook"></Icon>
                            </Tooltip>
                        </div>
                        
                        <AuthorizeView Roles="admin,librarian">
                            <Authorized>
                                @if (_editMode)
                                {
                                    <div class="action">
                                        <Tooltip Title="Save" Placement="TooltipPlacement.Top">
                                            <Icon Name="IconName.Save" @onclick="Save"></Icon>
                                        </Tooltip>
                                    </div>
                                }
                                else
                                {
                                    <div class="action">
                                        <Tooltip Title="Edit" Placement="TooltipPlacement.Top">
                                            <Icon Name="IconName.PencilSquare" @onclick="ToggleEditMode"></Icon>
                                        </Tooltip>
                                    </div>
                                }
                            </Authorized>
                        </AuthorizeView>
                    </div>
                    
                    <Card>
                        <CardTitle Style="margin: 1rem">
                            @if(_editMode)
                            {
                                <div class="form-floating">
                                    <InputText @bind-Value="@Book.Title" class="form-control"
                                               aria-required="true"/>
                                    <label>Title</label>
                                </div>
                            }
                            else
                            {
                                @Book.Title
                            }
                        </CardTitle>
                        <CardBody>
                            <CardText>
                                <div class="book-details">
                                    @if (_editMode)
                                    {
                                        <div class="form-floating">
                                            <InputText @bind-Value="@Book.ISBN" class="form-control"
                                                       aria-required="true"/>
                                            <label>ISBN</label>
                                        </div>
                                        <div class="form-floating">
                                            <InputText @bind-Value="@Book.Author" class="form-control"
                                                       aria-required="true"/>
                                            <label>Author</label>
                                        </div>
                                        <div class="form-floating">
                                            <InputText @bind-Value="@Book.Publisher" class="form-control"
                                                       aria-required="true"/>
                                            <label>Book publisher</label>
                                        </div>
                                        <div class="form-floating">
                                            <InputDate @bind-Value="@Book.PublishDate" class="form-control"
                                                       aria-required="true"/>
                                            <label>Publish date</label>
                                        </div>
                                        <div class="form-floating">
                                            <InputSelect @bind-Value="@Book.Category" class="form-control"
                                                         aria-required="true">
                                                @foreach(var category in Enum.GetValues<ECategory>())
                                                {
                                                    <option value="@category">@category</option>
                                                }
                                            </InputSelect>
                                            <label>Category</label>
                                        </div>
                                        <div class="form-floating">
                                            <InputNumber @bind-Value="@BookInventory.AvailableCopies" class="form-control"
                                                       aria-required="true"/>
                                            <label>Available</label>
                                        </div>
                                    }
                                    else
                                    {
                                        <p>ISBN: @Book.ISBN</p>
                                        <p>Author: @Book.Author</p>
                                        <p>Publisher: @Book.Publisher</p>
                                        <p>Publish Date: @Book.PublishDate</p>
                                        <p>Category: @Book.Category</p>
                                        <p>Available: @BookInventory?.AvailableCopies</p>
                                    }
                                </div>
                            </CardText>
                        </CardBody>
                    </Card>

                    <Accordion>
                        <AccordionItem Title="Description">
                            <Content>
                                @if(_editMode)
                                {
                                    @* <InputTextArea Placeholder="Description" @bind-Value="@Book.Description"></InputTextArea> *@
                                }
                                else
                                {
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                        voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    </p>
                                }
                                
                            </Content>
                        </AccordionItem>
                    </Accordion>

                    <Accordion>
                        <AccordionItem>
                            <TitleTemplate>
                                <div class="title-with-rating">
                                    <span>Reviews</span>
                                    <RatingComponent Rating="4.5"></RatingComponent>
                                </div>
                            </TitleTemplate>
                            <Content>
                                <div class="scrollable">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </div>
                            </Content>
                        </AccordionItem>
                    </Accordion>
                </div>
            </div>
            
        </div>
    </BodyTemplate>
</Modal>

@code {
    [Parameter] public EventCallback OnSaveEdit { get; set; }
    [Parameter] public User? User { get; set; }
    
    private Book? Book { get; set; }
    private BookCover? BookCover => Book?.BookCover;
    private BookInventory? BookInventory => DbApi.GetBookInventory(Book!) ?? new BookInventory();
    private bool IsFav => DbApi.IsBookFavorite(User!, Book!); 
    private bool _editMode = false;
    
    private Modal _modal = default!;

    public void Show(Book book)
    {
        Book = book;
        _editMode = false;
        _modal.ShowAsync();
    }
    
    private void HeartClicked()
    {
        if (!IsFav)
        {
            DbApi.FavoriteBook(User!, Book!);
        }
        else
        {
            DbApi.RemoveFavoriteBook(User!, Book!);
        }
        
        OnSaveEdit.InvokeAsync();
    }

    private void ReserveBook()
    {
        
    }

    private void ToggleEditMode()
    {
        _editMode = !_editMode;
    }

    private void Save()
    {
        _editMode = false;
        OnSaveEdit.InvokeAsync();
        DbApi.SaveChanges();
    }
    
    private async Task LoadFile(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file != null)
        {
            using var ms = new MemoryStream();
            await file.OpenReadStream().CopyToAsync(ms);
            BookCover.Image = ms.ToArray();
        }
    }
}