@using library_management_system.Model


<Card>
    @if (ShowAvatar)
    {
        <img class="rounded-top"
             src="data:image/jpg;base64, @Convert.ToBase64String(User.Avatar!.Image!)"
             alt="Card image cap"/>
    }

    <CardTitle Style="margin: 1rem">
        @if (EditMode)
        {
            <div class="info">
                <div class="form-floating">
                    <InputText @bind-Value="@User.Name" class="form-control"
                               aria-required="true"/>
                    <label>Name</label>
                </div>

                <div class="form-floating">
                    <InputText @bind-Value="@User.Surname" class="form-control"
                               aria-required="true"/>
                    <label>Surname</label>
                </div>
            </div>
        }
        else
        {
            <a>@(User.Name) &emsp; @(User.Surname)</a>
        }
    </CardTitle>
    
    <CardBody>
        <CardText>
            <div class="info">
                @if (EditMode)
                {
                    <div class="form-floating">
                        <InputText @bind-Value="@User.Address" class="form-control"
                                   aria-required="true"/>
                        <label>Address</label>
                    </div>

                    <div class="form-floating">
                        <InputText @bind-Value="@User.TelephoneNr" class="form-control"
                                   aria-required="true"/>
                        <label>Phone number</label>
                    </div>
                }
                else
                {
                    <p>Address: @User.Address</p>
                    <p>Phone number: @User.TelephoneNr</p>
                }
            </div>
        </CardText>
    </CardBody>
</Card>


@code {
    [Parameter] public required User User { get; set; }
    [Parameter] public bool EditMode { get; set; }
    [Parameter] public required bool ShowAvatar { get; set; }

}