@using library_management_system.Model


<Card Style="width: 100%; height: 100%">
    <img class="rounded-top" src="data:image/jpg;base64, @Convert.ToBase64String(User.Avatar!.Image!)" alt="Card image cap" />
    <CardBody Style="display: flex; flex-direction: column; font-size: 1rem">
        <CardTitle Style="font-size: 1.5em">@User.Name @User.Surname</CardTitle>
        <CardText Style="font-size: 1.5em">
            <p>Address: @User.Address</p>
            <p>Phone Number: @User.TelephoneNr</p>
            <p>Email: @User.Email</p>
        </CardText>
    </CardBody>
</Card>


@code {
    [Parameter] public required User User { get; set; }
}