@page "/account"
@rendermode InteractiveServer
@using library_management_system.Services
@using library_management_system.Data
@using Microsoft.AspNetCore.Identity
@inject AuthService AuthService
@inject AlertService AlertService
@inject DbApi DbApi

<h3>Account</h3>

<UserRecord User="@(AuthService.User)"></UserRecord>

<Button Color="ButtonColor.Primary" Size="Size.Medium" Style="margin-top: 10px" @onclick="OnShowChangeLoginClick">Change login</Button>

<Button Color="ButtonColor.Primary" Size="Size.Medium" Style="margin-top: 10px" @onclick="OnShowChangePasswordClick">Change password</Button>


<Modal @ref="_loginModal" title="Change login" IsVerticallyCentered="true" Size="ModalSize.ExtraLarge" OnHiding="OnHideModalClick">
    <BodyTemplate>
        <Toasts class="p-3" Messages="AlertService.Messages" Placement="ToastsPlacement.TopRight"/>
        
        <p>Current login: <input @bind="@_currentLogin"/></p>
        <p>New login: <input @bind="@_newLogin"/></p>
        <p>Confirm new login: <input @bind="@_confirmNewLogin"/></p>

    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Primary" Size="Size.Medium" @onclick="TryChangeLogin">Change login</Button>
    </FooterTemplate>
</Modal>

<Modal @ref="_passwordModal" title="Change password" IsVerticallyCentered="true" Size="ModalSize.ExtraLarge" OnHiding="OnHideModalClick">
    <BodyTemplate>
        <Toasts class="p-3" Messages="AlertService.Messages" Placement="ToastsPlacement.TopRight"/>
        
        <p>Current password: <input type="password" @bind="@_currentPassword"/></p>
        <p>New password: <input type="password" @bind="@_newPassword"/></p>
        <p>Confirm new password: <input type="password" @bind="@_confirmNewPassword"/></p>

    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Primary" Size="Size.Medium" @onclick="TryChangePassword">Change login</Button>
    </FooterTemplate>
</Modal>

@code {
    private Modal _loginModal = default!;
    private Modal _passwordModal = default!;
    private User? User => AuthService.User;
    private string _currentLogin = default!;
    private string _newLogin = default!;
    private string _confirmNewLogin = default!;
    private string _currentPassword = default!;
    private string _newPassword = default!;
    private string _confirmNewPassword = default!;
    
    private async Task OnShowChangeLoginClick()
    {
        await _loginModal.ShowAsync();
    }
    
    private async Task OnShowChangePasswordClick()
    {
        await _passwordModal.ShowAsync();
    }

    private async Task OnHideModalClick()
    {
        await _loginModal.HideAsync();
        AlertService.ClearMessages();
    }
    
    private void TryChangePassword()
    {
        if (_newPassword != _confirmNewPassword)
        {
            AlertService.ShowInfo("New password and confirm new password are not the same");
            return;
        }
        
        var passwordHasher = new PasswordHasher<User>();
        var result = passwordHasher.VerifyHashedPassword(null!, User!.Hash!, _currentPassword);

        if (result != PasswordVerificationResult.Success)
        {
            AlertService.ShowWarning("Current password is not correct");
            return;
        }
        
        if(DbApi.PasswordAlreadyUsed(_newPassword))
        {
            AlertService.ShowWarning("Password already used");
            return;
        }

        var passwordHash = passwordHasher.HashPassword(null!, _newPassword);
        User.Hash = passwordHash;
        DbApi.SaveChanges();
        AlertService.ShowSuccess("Password changed successfully");
    }
    
    private void TryChangeLogin()
    {
        if (_newLogin != _confirmNewLogin)
        {
            AlertService.ShowInfo("New login and confirm new login are not the same");
            return;
        }

        if (_currentLogin != User!.Login)
        {
            AlertService.ShowWarning("Current login is not correct");
            return;
        }
        
        if(DbApi.LoginAlreadyUsed(_newLogin))
        {
            AlertService.ShowWarning("Login already used");
            return;
        }

        User.Login = _newLogin;
        DbApi.SaveChanges();
        AlertService.ShowSuccess("Login changed successfully");
    }
}