@page "/borrow-book"
@rendermode InteractiveServer

@using library_management_system.Model
@using library_management_system.Services

@inject DbApi DbApi
@inject AlertService AlertService


<PageTitle>Borrow book</PageTitle>

<AuthorizeView Roles="admin,librarian">
    <Authorized>

        <h3>BorrowBook</h3>

        <BlazoredTypeahead SearchMethod="GetReadersLocal"
                           TItem="User"
                           TValue="User"
                           @bind-Value="SelectedPerson"
                           placeholder="Search by first name...">
            <SelectedTemplate Context="person">
                @{
                    <text>@person.Name @person.Surname</text>
                }
            </SelectedTemplate>
            <ResultTemplate Context="person">
                @person.Name @person.Surname (Id: @person.Id)
            </ResultTemplate>
        </BlazoredTypeahead>

        <BlazoredTypeahead SearchMethod="GetBooksLocal"
                           TItem="Book"
                           TValue="Book"
                           @bind-Value="SelectedBook"
                           placeholder="Search by title...">
            <SelectedTemplate Context="book">
                @{
                    <text>@book.Title @book.Author</text>
                }
            </SelectedTemplate>
            <ResultTemplate Context="book">
                @book.Title @book.Author (Id: @book.Id)
            </ResultTemplate>
        </BlazoredTypeahead>

        <Button Color="ButtonColor.Primary" Size="Size.Large" @onclick="TryBorrowBook"> Borrow Book </Button>

        <Toasts class="p-3" Messages="AlertService.Messages" Placement="ToastsPlacement.TopRight"/>

    </Authorized>
    <NotAuthorized>
        <h1>Not authorized</h1>
    </NotAuthorized>
</AuthorizeView>

@code {
    private List<User>? AllReaders { get; set; } = [];
    private User? SelectedPerson { get; set; }
    private List<Book>? AllBooks { get; set; } = [];
    private Book? SelectedBook { get; set; }

    protected override Task OnInitializedAsync()
    {
        AllReaders = DbApi.GetAllReaders();
        AllBooks = DbApi.GetAllBooks();

        if (AllReaders != null && AllBooks != null) return base.OnInitializedAsync();
        
        AlertService.ShowWarning("Failed to load data from the database. Please try again later.");
        AllReaders = [];
        AllBooks = [];

        return base.OnInitializedAsync();
    }

    private async Task<IEnumerable<User>> GetReadersLocal(string searchText)
    {
        return await Task.FromResult(AllReaders!.Where(reader => reader.Name!.ToLower().Contains(searchText.ToLower())).ToList());
    }

    private async Task<IEnumerable<Book>> GetBooksLocal(string searchText)
    {
        return await Task.FromResult(AllBooks!.Where(book => book.Title!.ToLower().Contains(searchText.ToLower())).ToList());
    }

    private void TryBorrowBook()
    {
        if (SelectedPerson == null || SelectedBook == null)
        {
            AlertService.ShowInfo("Please select a person and a book");
            return;
        }

        var reservedBook = DbApi.GetReservedBook(SelectedPerson, SelectedBook);

        EOperationResult result;
        if (reservedBook != null)
        {
            result = DbApi.ChangeReservedToBorrowed(SelectedPerson, reservedBook);

            AlertService.ShowOperationResult(result);
            
            return;
        }

        result = DbApi.BorrowBook(SelectedPerson, SelectedBook);
        
        AlertService.ShowOperationResult(result);
    }
}