@page "/reserved-books"
@rendermode InteractiveServer

@using library_management_system.Model
@using library_management_system.Services

@inject AuthService AuthService
@inject DbApi DbApi
@inject AlertService AlertService
@inject AuthenticationStateProvider AuthenticationStateProvider


<PageTitle>Reserved books</PageTitle>

<AuthorizeView>
    <Authorized>

        <h3>Reserved books</h3>

        @foreach (var reservedBook in AllReservedBooks!)
        {
            var book = DbApi.GetBook(reservedBook.BookId)!;
            <Card Style="width:18rem;">
                <CardBody>
                    <CardTitle>@book.Title</CardTitle>
                    <CardText>
                        <p>Author: @book.Author</p>
                        <p>Publisher: @book.Publisher</p>
                        <p>Publish Date: @book.PublishDate</p>
                        <p>Category: @book.Category</p>
                        <Button Color="ButtonColor.Primary" Size="Size.Large" @onclick="@(() => Delete(reservedBook))"> Delete </Button>


                    </CardText>
                </CardBody>
            </Card>
        }

        <Toasts class="p-3" Messages="AlertService.Messages" Placement="ToastsPlacement.TopRight"/>

    </Authorized>
    <NotAuthorized>
        <h1>Not authorized</h1>
    </NotAuthorized>
</AuthorizeView>

@code {
    private List<ReservedBook>? AllReservedBooks { get; set; } = new();
    private User? User { get; set; } 

    protected override Task OnInitializedAsync()
    {
        User = AuthService.GetUser(AuthenticationStateProvider).Result;
        AllReservedBooks = DbApi.GetReservedBooks(User!);

        if (AllReservedBooks == null)
        {
            AlertService.ShowWarning("Failed to load reserved books!");
            AllReservedBooks = new();
        }

        return Task.CompletedTask;
    }

    private void Delete(ReservedBook reservedBook)
    {
        var result = DbApi.RemoveReservedBook(reservedBook);
        
        if(result == EOperationResult.Success)
            AlertService.ShowSuccess("Book deleted successfully!");
        else
            AlertService.ShowWarning("Failed to delete book!");

        OnInitializedAsync();
    }

}